/** Add css rules here for your application. */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
.titleLabel {
  display: block;
	color: #0e25fa;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
